DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/control_electoral
CORS_ORIGINS=http://elecciones.sigecloud.com:8090

# Credenciales del administrador inicial
ADMIN_EMAIL=germandase@gmail.com
ADMIN_PASSWORD=jedase7869
