DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/control_electoral
CORS_ORIGINS=https://elecciones.sigecloud.com,http://localhost:8090,http://localhost:5173

# Credenciales del administrador inicial
ADMIN_EMAIL=germandase@gmail.com
ADMIN_PASSWORD=jedase7869
